<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Team Randomizer</title>

	<style>

	body {
		margin: 0;
		background-color: salmon;
	}

	#container	{
		width: 80%;
		margin: 0 auto;
	}

	</style>

</head>
<body>


	<%= yield %>


</body>
</html>